    .grilla_contenedor{
        width: 100%;
        min-height: 200px;
        height: 100%;
        background-color: #e7e7e7;
        box-shadow: 0 0 2px 4px #111;
        
    }

    .categorial_link{
        text-decoration: none;
        color: #000;
    }

    .Categoria{
        text-align: start;
        padding: 1rem 0 0 4rem;
        letter-spacing: 4px;
    }

    .categoria_card{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        justify-content: space-evenly;
    }

    .card_contenedor button{
        width: 100%;
        margin: .5rem 0;
        height: 2rem;
        background-color: #e7e7e7;
        box-shadow: 0 0 2px 4px #111;
    }

    

   